* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  margin: 0;
}

body {
  font-family: -apple-system,
    "Lexend",
    "Roboto",
    sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    "Courier New",
    monospace;
}

h1, h2, h3, h4, p {
  font-weight: 400;
  margin: 0;
  padding: 0;
  text-indent: -0.08em;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: inherit;
}

#root {
  height: 100%;
}
